<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Practice Words</title>
    <link rel="stylesheet" type="text/css" href="{% static 'words/styles_for_practice_words.css' %}?{% now 'U' %}">
</head>
<body>
<div class="container">
    <h1>Practice Words</h1>
    <p>What is the translation of "{{ word }}"?</p>
    <form method="post" action="{% url 'practice_words' %}">
        {% csrf_token %}
        {% for translation in translations %}
        {% if status is not None and status is True and translation == chosen_word %}
        <button class="correct" type="submit" name="translation" value="{{word}} {{ translation }}">{{ translation }}</button>
        {% elif status is not None and status is False and translation == chosen_word %}
        <button class="wrong" type="submit" name="translation" value="{{word}} {{ translation }}">{{ translation }}</button>
        {% else %}
        <button type="submit" name="translation" value="{{word}},{{ translation }}">{{ translation }}</button>
        {% endif %}
        {% endfor %}
    </form>
    <a href="{% url 'practice_words' %}">Next word</a>
    <a href="{% url 'home' %}">Home</a>
</div>
</body>
</html>
